:root {
    --border-radius: 10px;
}


table {
    margin: 20px auto;
    width: 80%;
    border: none;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    empty-cells: show;
}

th {
    text-align: left;
    background: var(--ystu-blue);
    color: white;
}

tr:first-of-type th { cursor: pointer; }

td + td { border-left: 1px solid #a4a4a4; }

tr:first-of-type th:first-of-type { border-top-left-radius: var(--border-radius) !important; }
tr:first-of-type th:last-of-type { border-top-right-radius: var(--border-radius) !important; }
tr:last-of-type td:first-of-type { border-bottom-left-radius: var(--border-radius) !important; }
tr:last-of-type td:last-of-type { border-bottom-right-radius: var(--border-radius) !important; }

tr>:nth-child(1) { text-align: right !important; }

th, td {
    padding: 12px 15px;
}

tr:nth-of-type(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: #ccd;
}
