:root {
    --table-border-radius: 10px;
}


/* == Table Elements == */
table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
    empty-cells: show;
}

th {
    padding: 10px;
    text-align: left;
    background: var(--ystu-blue);
    color: white;
    white-space: nowrap;
}

td {
    padding: 5px 10px;
    border-top: 1px solid white;
}

td + td, th + th { border-left: 1px solid white; }

tr:first-of-type th:first-of-type { border-top-left-radius: var(--table-border-radius) !important; }
tr:first-of-type th:last-of-type { border-top-right-radius: var(--table-border-radius) !important; }
tr:last-of-type td:first-of-type { border-bottom-left-radius: var(--table-border-radius) !important; }
tr:last-of-type td:last-of-type { border-bottom-right-radius: var(--table-border-radius) !important; }

tr:nth-of-type(odd) { background-color: rgba(0, 0, 0, 0.1); }
tr:nth-of-type(even) { background-color: rgba(0, 0, 0, 0.2); }
tr:hover { background-color: rgba(0, 69, 137, 0.25); }

#reviewTable tr:nth-of-type(odd) { background-color: rgba(240, 58, 23, 0.3); }
#reviewTable tr:nth-of-type(even) { background-color: rgba(240, 58, 23, 0.4); }
#reviewTable tr.reviewed:nth-of-type(odd) { background-color: rgba(22, 198, 12, 0.3); }
#reviewTable tr.reviewed:nth-of-type(even) { background-color: rgba(22, 198, 12, 0.4); }

#reviewTable tr:hover { background-color: rgba(240, 58, 23, 0.2); }
#reviewTable tr.reviewed:hover { background-color: rgba(22, 198, 12, 0.2); }

/* TableSorter */
.tablesorter-header {
    padding-right: 20px;
    background-image: url("/static/css/icons/metro-unsorted.png");
    background-position: center right 4px;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
}

.tablesorter-headerAsc { background-image: url("/static/css/icons/metro-white-asc.png"); }
.tablesorter-headerDesc { background-image: url("/static/css/icons/metro-white-desc.png"); }

.tablesorter .sorter-false {
    padding-right: 10px;
    background-image: none;
    cursor: default;
}
