/* == Forms == */
.login-form,
.edit-form,
.logout-form,
.submit-form {
    margin: 12px auto;
    width: 255px;
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=password],
.submit-form select { margin-bottom: 12px; }

.select-form,
.submit-form {
    margin: 12px auto;
    width: 400px;
}


/* == Labels == */
label {
    font-size: 15px;
    font-weight: bold;
}


/* == Inputs == */
input[type=text],
input[type=password],
input[type=number] {
    font-size: 15px;
    padding: 0 1px;
    height: 24px;
    border: none;
    border-bottom: 3px solid grey;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=submit]:hover { border-color: var(--ystu-blue); }

input:focus-visible,
input:not(:placeholder-shown) {
    outline: none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--ystu-blue), var(--ystu-orange));
}

/* Checkboxes */
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid #bbb;
    border-radius: 999px;
}

.checkbox-label:hover input ~ .checkmark {
    background-color: #bbb;
}

.checkbox-label input:checked ~ .checkmark {
    background-color: var(--ystu-orange);
    border-color: var(--ystu-orange);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 4px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* == Drop Downs == */
select {
    font-size: 17px;
    padding: 2px 0 0;
    border: 3px solid grey;
    outline: none;
}

select:hover,
select:focus-visible:hover {
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--ystu-blue), var(--ystu-orange));
}

select:invalid { font-style: italic; }
select > option { font-style: normal; }
select option[value=""], select option:not([value]) { font-style: italic; }


/* == Buttons == */
button[type=submit],
button[disabled],
input::file-selector-button {
    font-size: 17px;
    padding: 2px 4px 0;
    border: 3px solid grey;
}

button[disabled] { color: grey; }

button[type=submit]:hover:not([disabled]),
input::file-selector-button:hover {
    cursor: pointer;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg, var(--ystu-blue), var(--ystu-orange));
}


/* == Notifications == */
.notification {
    text-align: center;
    margin-bottom: 12px;
}

.error {
    margin-top: 12px;
    margin-bottom: 0 !important;
    color: red;
}
