body {
    background-image: url("../images/library.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    font-size: 125px;
    background-color: rgba(0, 0, 0, .75);
    padding: 0 30px 24px;

    color: white;
    text-align: center;
    font-weight: 400;
    text-decoration: underline;

    margin: 0;
}
