/* == Content Boxes == */
.infobox {
    width: 70%;
    margin: 20px auto;
}

.event {
    width: 80%;
    margin: 10px auto;
}


/* == Headers == */
h2 {
    width: 80%;
    color: white;
    background: var(--ystu-blue);
    padding: 20px 10%;

    margin: 0;
    font-size: 55px;
    font-weight: 400;
}

h2.event-name {
    font-size: 40px;
    font-weight: 300;
}

h3 {
    margin: 18px 24px 12px;
    font-size: 22pt;
    font-weight: 300;
}


/* == Event's Page Elements == */
.useful-links {
    font-size: 15pt;
    font-weight: bold;
}

.useful-links a:not([href="/login"]) {
    display: block;
    text-decoration: none;

    margin-bottom: 2px;

    width: fit-content;
    block-size: fit-content;
}


/* == Text == */
p {
    margin: 0 0 12px;
    font-size: 13.2pt;
}

ul {
    margin: 0 0 12px;
    font-size: 13.2pt;
    padding-inline-start: 19px;
}


.participation-error {
    margin-bottom: 2px;
}


/* == Table Elements == */
table.event {
    border-collapse: separate;
    border-spacing: 0 10px;
}

table.event td {
    border: none;
    padding: 10px 7px;
}

td.event-date {
    width: 18%;
    font-size: 25px;
    word-wrap: unset;
}

td.event-date div { display: inline-block; }

td.event-name {
    text-align: center;
    width: 25%;
    font-size: 35px;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
}

td.event-info { width: 37%; }


/* == More Info Button == */
.event-info button[type=submit],
.event-info .participation-error { margin-top: 20px; }


/* == Participation Button == */
.useful-links button[type=submit] {
    display: block;

    border: none;
    padding: 0;
    margin: 0 0 2px;

    font-size: 15pt;
    font-weight: bold;

    width: fit-content;
    block-size: fit-content;

    cursor: pointer;

    background: linear-gradient(135deg, var(--ystu-blue), var(--ystu-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
