.header {
    width: 80%;
    font-size: 55px;
    color: white;
    background: var(--ystu-blue);
    padding: 20px 10%;
}

.infobox, .event { width: 80%; }
.infobox { margin: 20px 10%; }
.event { margin: 10px 10%; }


table.event {
    border-collapse: separate;
    border-spacing: 0 10px;
}

table.event td {
    border: none;
    padding: 10px 7px;
}

td.event_date {
    width: 18%;
    font-size: 25px;
    word-wrap: unset;
}

td.event_date div { display: inline-block; }

td.event_name {
    text-align: center;
    width: 25%;
    font-size: 35px;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
}

td.event_info { width: 37%; }

.participation-error { font-weight: bold; }

button[type=submit], .participation-error { margin-top: 20px; }
