/* == Contents == */
.wrapper {
    min-height: inherit;
}


/* == Headers == */
.center {
    text-align: center;
    margin: 24px auto;
}


/* == Labels == */
label {
    display: inline-block;
    margin: 12px 0 0;
}

h3,
label:not([for=requirement]) {
    font-size: 18pt;
    margin: 12px 0 6px;
    font-weight: 300;
}


/* == Inputs == */
input {
    font-size: 17px;
    width: 24px;
}

input:focus-visible,
input[value]:not([value="0"]) {
    outline: none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--ystu-blue), var(--ystu-orange));
}


/* == Text == */
ul {
    font-size: 11.5pt;
    margin: 0;
    padding-inline-start: 19px;
}
