/* == Grouped Boxes == */
.event {
    width: 49%;
    float: left;
}

.theme {
    width: 49%;
    float: right;
}

.button-wrap {
    width: 100%;
    text-align: center;
}


/* == Drop Downs == */
select#jury, label[for="jury"],
select#event, label[for="event"],
select#theme, label[for="theme"],
.event-selector-container {
    width: 100%;
    margin-bottom: 12px;
}


/* == Buttons == */
button[type=submit]:not([disabled]) {
    color: inherit;
    border-color: var(--ystu-blue);
}


/* == Table Elements == */
th { text-align: center !important; }
