.header {
    text-align: center;
    margin: 12px auto;
}


label {
    font-size: 18px;
    font-weight: normal;
}

input {
    font-size: 17px;
    width: 24px;
}

input:focus-visible,
input[value]:not([value="0"]) {
    outline: none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--ystu-blue), var(--ystu-orange));
}
