:root {
    --ystu-orange: #F07C00;
    --ystu-blue: #004589;
}


html, body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

img { display:block; }

a { color: var(--ystu-blue); }


.left { float: left; }
.right { float: right; }

.topnav {
    position: fixed;
    background: white;
    z-index: 2;
    width: 100%;
    padding: 0;

    text-align: center;

    top: 0;
    overflow: auto;
    height: 47px;

    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--ystu-blue), var(--ystu-orange));
}

.topnav a {
    padding: 10px 13px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    height: 27px;

    color: black;
    font-size: 1vmax;
    font-weight: normal;
    text-decoration: none;
}

.topnav a.left, .topnav a.right { padding: 10px; }
.topnav a:not(.left):not(.right) { padding: 12px 13px 8px; }
.topnav a:hover:not(.left):not(.right) { padding: 12px 13px 3px; }
.topnav a:hover:not(.left):not(.right):nth-of-type(odd) { border-bottom: 5px solid var(--ystu-orange); }
.topnav a:hover:not(.left):not(.right):nth-of-type(even) { border-bottom: 5px solid var(--ystu-blue); }


.content { padding-top: 50px; }

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
