{% extends "emails/registration.html" %}

{% block content %}
    <div class="header">
        Информация об аккаунте была изменена
    </div>
    <div class="credentials">
        <div>
            Фамилия: <br/>
            Имя: <br/>
            Отчество: <br/>
            ВУЗ: <br/>
            E-Mail: <br/>
            Пароль:
        </div>
        <div style="font-weight: bold">
            {{ last_name }}<br/>
            {{ first_name }}<br/>
            {{ middle_name }}<br/>
            {{ university }}<br/>
            <a href="#" style="text-decoration: none; color: black">{{ login }}</a><br/>
            {{ password }}
        </div>
    </div>
{% endblock %}
