<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на мероприятие</title>

    <style>
        html, body {
            font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
            font-size: 14px;
        }

        .header {
            padding: 0;
            font-family: 'Segoe UI Light', 'Segoe UI', 'Helvetica Neue Medium', Arial, sans-serif;
            font-size: 32px;
            color: #004589
        }

        .info {
            padding-top: 16px;
            text-indent: 16px;
        }
    </style>
</head>

<body>
<div class="header">
    Регистрация в конкурсе
</div>
<div class="info">
    Уважаемый пользователь,<br/>
    Ваша работа была успешно отправлена на участие в конкурсе {{ event }}.<br/>
</div>
<div class="info">
    Желаем удачи!
</div>
</body>
</html>
