<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на мероприятие</title>

    <style>
        html, body {
            font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
            font-size: 14px;
        }

        .title {
            padding: 0;
            font-family: 'Segoe UI Light', 'Segoe UI', 'Helvetica Neue Medium', Arial, sans-serif;
            font-size: 32px;
            color: #004589
        }

        .info {
            padding-top: 16px;
            text-indent: 16px;
        }
    </style>
</head>

<body>
    <div class="title">
        Регистрация в конкурсе
    </div>

    <div class="info">
        <b>Уважаемый пользователь</b>,<br/>
        Ваша работа была успешно отправлена на участие в конкурсе "{{ event }}" в номинации "{{ theme }}".<br/>
        Ваш уникальный код работы: {{ id }}
    </div>

    <div class="info">
        <b>Желаем удачи!</b>
    </div>
</body>
</html>
