<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сертификат участника конкурса реферативного перевода и видеопрезентаций</title>

    <style>
        html, body {
            font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
            font-size: 14px;
        }

        .title {
            padding: 0;
            font-family: 'Segoe UI Light', 'Segoe UI', 'Helvetica Neue Medium', Arial, sans-serif;
            font-size: 32px;
            color: #004589
        }

        .info {
            padding-top: 16px;
            text-indent: 16px;
        }
    </style>
</head>

<body>
    <div class="title">
        Участие в конкурсе
    </div><br>

    Благодарим за участие в  IV Всероссийском студенческом конкурсе реферативного перевода и конкурсе видеопрезентаций «Научный стенд-ап».<br><br> 
    Желаем дальнейших научных и творческих успехов!<br><br> 
    P.S. Пожалуйста, обратите внимание, что в сертификате указан ваш преподаватель. Поделитесь с ним, пожалуйста, этим документом.<br><br> 

    С уважением,<br>
    Оргкомитет конкурса<br> 
    реферативного перевода и<br>  
    конкурса видеопрезентаций.<br>
    ЯГТУ</b>
   
</body>
</html>
