{% extends 'index.html' %}

{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../static/css/center-page.css">
    <link rel="stylesheet" type="text/css" href="../static/css/form-inputs.css">
{% endblock %}

{% block content %}
    <form action='/edit' method='post'>
        <div class="error notification">{{message}}</div>
        <div class="login-form">
            {% if not admin %}
                <label for="last_name">Фамилия</label>
                <input type="text" id="last_name" name="last_name" value="{{ data['last_name'] }}" placeholder="Иванов" required />
                <label for="first_name">Имя</label>
                <input type="text" id="first_name" name="first_name" value="{{ data['first_name'] }}" placeholder="Иван" required />
                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" name="middle_name" value="{{ data['middle_name'] }}" placeholder="Иванович" required />
                <label for="university">ВУЗ (полное название)</label>
                <input type="text" id="university" name="university" value="{{ data['university'] }}" placeholder="Ярославский государственный технический университет" required />
                <label for="login">E-Mail</label>
                <input type="text" id="login" name="login" value="{{ data['login'] }}" placeholder="example@email.com" required />
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" value="{{ data['password'] }}" placeholder="Qw3R7y" required />
                <label for="password_check">Повторите пароль</label>
                <input type="password" id="password_check" name="password_check" value="{{ data['password'] }}" placeholder="Qw3R7y" required />
                <button type="submit">Сохранить изменения</button>
            {% else %}
                <label for="login">E-Mail</label>
                <input type="text" id="login" name="login" value="{{ data['login'] }}">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" value="{{ data['password'] }}">
            {% endif %}
        </div>
    </form>

    <form action="/logout" method="get">
        <div class="logout-form">
            <button type='submit'>Выход</button>
        </div>
    </form>
{% endblock %}
