{% extends 'index.html' %}

{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../static/css/center-page.css">
    <link rel="stylesheet" type="text/css" href="../static/css/form-inputs.css">
{% endblock %}

{% block content %}
    <div class="wrapper">
{% if message %}
    <div class="error notification">{{message}}</div>
{% endif %}
    <form action="/edit" method="post" class="edit-form">
    {% if rights['login'] and not rights['admin'] and not rights['jury'] %}
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" name="last_name" value="{{ data['last_name'] }}" placeholder="Иванов" maxlength="35" class="input-ru" required />
        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name" value="{{ data['first_name'] }}" placeholder="Иван" maxlength="35" class="input-ru" required />
        <label for="middle_name">Отчество</label>
        <input type="text" id="middle_name" name="middle_name" value="{{ data['middle_name'] }}" placeholder="Иванович" maxlength="35" class="input-ru" required />
        <label for="university">ВУЗ (полное название)</label>
        <input type="text" id="university" name="university" value="{{ data['university'] }}" placeholder="Ярославский государственный технический университет" class="input-ru" required />
        <label for="login">E-Mail</label>
        <input type="text" id="login" name="login" value="{{ data['login'] }}" placeholder="example@email.com" required />
        <label for="password">Новый пароль (до 32 символов)</label>
        <input type="password" id="password" name="password" placeholder="Qw3R7y" maxlength="32" required />
        <label for="password_check">Повторите новый пароль</label>
        <input type="password" id="password_check" name="password_check" placeholder="Qw3R7y" maxlength="32" required />
        <button type="submit">Сохранить изменения</button>
    {% elif rights['login'] and (rights['admin'] or rights['jury']) %}
        <label for="login">E-Mail</label>
        <input type="text" id="login" name="login" value="{{ data['login'] }}" disabled />
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" value="{{ data['password'] }}" disabled />
    {% endif %}
    </form>

    <script>
        $('form').on('input', '.input-ru', function(){
            this.value = this.value.replace(/[^а-яё\s]/gi, '');
        });
    </script>

    <form action="/logout" method="get" class="logout-form">
        <button type='submit'>Выйти</button>
    </form>
    </div>
{% endblock %}
