{% extends "index.html" %}

{% block head %}
    <title>Мероприятия</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <div class="header">2022 год</div>
    <table class="event">
        {% for row in data %}
            <tr>
                <td class="event_date"><div>{{ row.start }}</div> – <div>{{ row.end }}</div></td>
                <td class="event_name">{{ row.title }}</td>
                <td class="event_info">
                    <b>{{ row.subtitle }}</b> {{ row.info }} <br/>
                    <button type="submit" onclick="window.location.href='{{ row.name }}'">Подробнее</button>

{#                {% if admin %}#}
{#                    <div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>#}
{#                {% elif check_login %}#}
{#                    <button type="submit" onclick="window.location.href='stc-2021'">Принять участие</button>#}
{#                {% else %}#}
{#                    <div class="participation-error"><a href="../login/">Войдите в аккаунт</a>, чтобы принять участие.</div>#}
{#                {% endif %}#}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
