{% extends "index.html" %}

{% block head %}
    <title>Мероприятия</title>
    <link rel="stylesheet" href= "/static/css/info.css">
    <link rel="stylesheet" href= "/static/css/form-inputs.css">
{% endblock %}

{% block content %}
    <h2>2022 год</h2>
    <table class="event">
        {% for row in data %}
            <tr>
                <td class="event_date"><div>{{ row.start }}</div> – <div>{{ row.end }}</div></td>
                <td class="event_name">{{ row.title }}</td>
                <td class="event_info">
                    <b>{{ row.subtitle }}</b> {{ row.info }} <br/>
                    <button type="submit" onclick="window.location.href='{{ row.name }}'">Подробнее</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
