{% extends "index.html" %}

{% block head %}
    <title>Мероприятия</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <div class="header">2022 год</div>
    <table class="event">
        <tr>
            <td class="event_date"><div>25 октября</div> – <div>1 ноября</div></td>
            <td class="event_name">Конкурс перевода</td>
            <td class="event_info">
                <b>Конкурс реферативного перевода.</b> Предполагает выполнение
                классического письменного реферативного перевода научно-популярной статьи с
                английского/немецкого языка на русский в соответствии с принятыми в научном сообществе
                стандартами. На выбор участникам будут предложены научно-популярные статьи (не из
                узкоспециализированных и академических источников).<br/>
                {% if admin %}<div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>
                {% elif check_login %}<button type="submit" onclick="window.location.href='stc-2021'">Принять участие</button>
                {% else %}<div class="participation-error"><a href="../login/">Войдите в аккаунт</a>, чтобы принять участие.</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="event_date"><div>10 октября</div> – <div>16 октября</div></td>
            <td class="event_name">Конкурс рисунка</td>
            <td class="event_info">
                <b>Международный конкурс осеннего рисунка.</b> Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Cras sed vestibulum augue. Phasellus dapibus nibh et purus
                congue cursus. Fusce fringilla cursus ullamcorper. Nulla non dolor sed lacus accumsan
                tempor venenatis id risus. Morbi pulvinar nibh nunc, a interdum urna consectetur eget.
                Curabitur varius leo non nibh cursus, a faucibus massa iaculis. Sed non turpis sit amet
                purus ullamcorper molestie.<br/>
                {% if admin %}<div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>
                {% elif check_login %}<button type="submit">Принять участие</button>
                {% else %}<div class="participation-error"><a href="../login/">Войдите в аккаунт</a>, чтобы принять участие.</div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
