<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "/static/css/style.css">
    <link rel="icon" href="/static/images/ystu_logo.svg">
    {% block head %}
        <title>Главная</title>
        <link rel="stylesheet" href= "/static/css/index.css">
    {% endblock %}
    </head>
    <body>
        <div class="topnav">
            <a href="https://www.ystu.ru" class="left" title="Сайт ЯГТУ">
                <img src="/static/images/ystu_logo.svg" width="27" alt="ystu_logo">
            </a>

            <a href="/">Главная</a><!--
         --><a href="/info/">Информация</a><!--
         --><a href="/events/">Мероприятия</a><!--
            {% if admin == 1 %}
             --><a href="/review/">Проверка</a><!--
             --><a href="/participants/">Участники</a><!--
            {% endif %}
         -->
            {% if check_login == 1 %}
            <a href="/edit/" class="right" title="Аккаунт">
            {% else %}
            <a href="/login/" class="right" title="Аккаунт">
            {% endif %}
                <img src="/static/images/user_icon.svg" width="27" alt="user_icon">
            </a>
        </div>
        <div class="content">
        {% block content %}
            <div class="caption">Конкурсный портал ЯГТУ</div>
        {% endblock %}
        </div>
    </body>
</html>
