{% extends "index.html" %}

{% block head %}
    <title>Информация</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <h2>О кафедре</h2>
    <div class="infobox">
        <p>
            Кафедра «Иностранные языки» Ярославского государственного технического университета осуществляет обучение иностранным языкам студентов очной и заочной форм обучения ЯГТУ, а также проводит курсы профессиональной переподготовки референтов-переводчиков в профессиональной сфере.
        </p>

        <p>
            Кафедра иностранных языков как самостоятельное подразделение ЯГТУ возникла в 1944 году. Становление и развитие кафедры во многом связано с именем доцента В.Я. Голковой, руководившей кафедрой с момента её основания до 1986 года. С 1992 года по 2016 год кафедру возглавлял доцент А.А. Дуев.
        </p>

        <p>
            С 2016 года по настоящее время кафедру возглавляет Людмила Александровна Тюкина.
        </p>

        <p>
            В 2000 году на базе курсов английского языка был создан Институт иностранных языков ЯГТУ. С 2016 года это Центр иностранных языков, где проводятся как краткосрочные курсы по различным направлениям в области обучения иностранным языкам, так и курсы переподготовки референтов-переводчиков в профессиональной сфере. По окончании курсов выдается диплом государственного образца о профессиональной переподготовке.
        </p>

        <p>Основными направлениями научно-методической работы кафедры иностранных языков являются:</p>
            <ul>
                <li>методика преподавания иностранных языков в высшей школе;</li>
                <li>лингвистика и межкультурная коммуникация;</li>
                <li>лингвострановедение и лингвокультурология;</li>
                <li>перевод и переводоведение;</li>
                <li>методика преподавания русского языка и культуры речи;</li>
                <li>деловой русский язык.</li>
            </ul>

        <p>
            На кафедре работают 12 старших преподавателей и 4 ассистента.
        </p>

        <p>
            Преподаватели кафедры регулярно привлекаются к работе в качестве переводчиков. На кафедре проводится работа со студентами, обучающимися по программе двойного диплома в рамках договора с УПН Вильдау (Германия).
        </p>

        <p>
            Преподаватели кафедры участвуют в работе международных конференций с публикациями статей в сборниках научных трудов.
        </p>

        <p>
            Ежегодно на научно-техническую конференцию студентов, магистрантов и аспирантов под руководством преподавателей кафедры готовятся доклады студентов в секции «Реферирование и перевод зарубежной научно-технической литературы».
        </p>

        <p>
            На кафедре ведется преподавание курса «Русский язык и культура речи» для бакалавров и курс «Деловой русский язык» для магистров.
        </p>

    </div>
{% endblock %}
