{% extends "index.html" %}

{% block head %}
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block content %}
    <form action='/login' method='post'>
        <div class="error notification">{{error}}</div>
        <div class="login-form">
            <label for="login">E-Mail</label>
            <input type="text" id="login" name="login" placeholder="example@email.com" required />
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Qw3R7y" required />
            <button type="submit">Войти</button>
        </div>
        <div class="notification">Нет аккаунта? <a href="../register/">Зарегистрируйтесь</a></div>
    </form>
{% endblock %}
