{% extends "index.html" %}

{% block head %}
    <title>Список участников</title>
    <link rel="stylesheet" href= "/static/css/data-table.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
    <script>
    $(function() {
      $("#participantsTable").tablesorter();
    });
    </script>
{% endblock %}

{% block content %}
    <table id="participantsTable">
    <thead>
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>ВУЗ</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.first_name}}</td>
            <td>{{row.middle_name}}</td>
            <td>{{row.university}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
