{% extends "index.html" %}

{% block head %}
    <title>Проверка</title>
    <link rel="stylesheet" href= "/static/css/review.css">
    <link rel="stylesheet" href= "/static/css/form-inputs.css">
    <link rel="stylesheet" href= "/static/css/data-tables.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
    <script>
        $(function() {
            $("#ratingsTable").tablesorter({ sortList: [3,0]] });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#event').val("{{ event_name }}");
            $('#theme').val("{{ theme_name }}");

            function checkAllSelected() {
                event = $('#event').val();
                theme = $('#theme').val();

                if (event != 0 && theme != 0) { $('button[type=submit]').prop("disabled", false); }
                else { $('button[type=submit]').prop("disabled", true); }
            }

            checkAllSelected();

            $('#event').on('change', function() { checkAllSelected() });
            $('#theme').on('change', function() { checkAllSelected() });
        });
    </script>
{% endblock %}

{% block content %}
    <form action="/rating" method="post">
        <div class="select-form">
            <div class="event-selector-container">
                <div class="event">
                    <label for="event">Мероприятие</label>
                    <select id="event" name="event" required>
                        <option value="">-- Нужно выбрать --</option>
                        {% for event in events %}
                            <option value="{{ event.name }}">{{ event.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="theme">
                    <label for="theme">Тема</label>
                    <select id="theme" name="theme" required>
                        <option value="">-- Нужно выбрать --</option>
                        {% for theme in themes[0]  %}
                            <option value="{{ theme }}">{{ theme }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="button-wrap">
                <button type="submit" disabled>Загрузить таблицу</button>
            </div>
        </div>
    </form>


    <table id="ratingsTable" style="visibility: {{ visibility }}{#{% if data_loaded %} visible {% else %} hidden {% endif %}#};">
        <tr>
            <th>ФИО</th>
            <th>ВУЗ</th>
            <th>Научный руководитель</th>
            <th>Количество баллов</th>
        </tr>
        {% for row in data %}
            {% if row.event == event and row.theme == theme %}
                <tr>
                    <td>{{row.last_name}} {{row.first_name}} {{row.middle_name}}</td>
                    <td>{{row.university}}</td>
                    <td>{{row.scientific_director}}</td>
                    <td>{{row.final_score}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
