{% extends 'index.html' %}

{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../static/css/center-page.css">
    <link rel="stylesheet" type="text/css" href="../static/css/form-inputs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script>
        $(document).ready(function(){
            $('#togglePassword').click(function(){
                password = $('#password');
                const type = password.attr('type') === 'password' ? 'text' : 'password';
                password.attr('type', type);
                this.classList.toggle('fa-eye-slash');
            });

            $('#togglePasswordCheck').click(function(){
                password = $('#password_check');
                const type = password.attr('type') === 'password' ? 'text' : 'password';
                password.attr('type', type);
                this.classList.toggle('fa-eye-slash');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form action='/register' method='post'>
    {% if message %}
        <div class="error notification">{{message}}</div>
    {% endif %}
        <div class="login-form">
            <label for="last_name">Фамилия</label>
            <input type="text" id="last_name" name="last_name" placeholder="Иванов" maxlength="35" class="input-ru" required />
            <label for="first_name">Имя</label>
            <input type="text" id="first_name" name="first_name" placeholder="Иван" maxlength="35" class="input-ru" required />
            <label for="middle_name">Отчество</label>
            <input type="text" id="middle_name" name="middle_name" placeholder="Иванович" maxlength="35" class="input-ru" required />
            <label for="university">ВУЗ (полное название)</label>
            <input type="text" id="university" name="university" placeholder="Ярославский государственный технический университет" class="input-ru" required />
            <label for="login">E-Mail</label>
            <input type="text" id="login" name="login" placeholder="example@email.net" required />
            <label for="password">Пароль (до 32 символов) <i class="far fa-eye fa-eye-slash" id="togglePassword"></i></label>
            <input type="password" id="password" name="password" placeholder="Qw3R7y" maxlength="32" required />
            <label for="password_check">Повторите пароль <i class="far fa-eye fa-eye-slash" id="togglePasswordCheck"></i></label>
            <input type="password" id="password_check" name="password_check" placeholder="Qw3R7y" maxlength="32" required />
            <label class="checkbox-label">
                <input type="checkbox" required /><span class="checkmark"></span>
                Соглашаюсь на <a href="">обработку персональных данных</a>
            </label>
            <button type="submit">Зарегистрироваться</button>
        </div>
        <div class="notification">Есть аккаунт? <a href="../login/">Войти</a></div>
    </form>

    <script>
        $('form').on('input', '.input-ru', function(){
            this.value = this.value.replace(/[^а-яё\s]/gi, '');
        });
    </script>

{% endblock %}
