{% extends "index.html" %}

{% block head %}
    <title>Проверка</title>
    <link rel="stylesheet" href= "/static/css/data-table.css">
    <link rel="stylesheet" href= "/static/css/review.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
    <script>
    $(function() {
        $("#participantsTable").tablesorter();
    });
    </script>
    <script>
    $(document).ready(function () {
        function checkAllSelected() {
            jury = $('#jury').val();
            event = $('#event').val();
            theme = $('#theme').val();

            if (jury != 0 && event != 0 && theme != 0) { $('button[type=submit]').prop("disabled", false); }
            else { $('button[type=submit]').prop("disabled", true); }
        }

        checkAllSelected();

        $('#jury').on('change', function() { checkAllSelected() });
        $('#event').on('change', function() { checkAllSelected() });
        $('#theme').on('change', function() { checkAllSelected() });
    });
</script>
{% endblock %}

{% block content %}
    <form action="/review" method="post">
        <div class="select-form">
            <label for="jury">Член жюри</label>
            <select id="jury" name="jury" required>
                <option value="">-- Нужно выбрать --</option>
                {#{% for * in * %}#}
                <option value="Крамная Екатерина Сергеевна">Крамная Екатерина Сергеевна</option>
                {#{% endfor %}#}
            </select>

            <div class="event-selector-container">
                <div class="event">
                    <label for="event">Мероприятие</label>
                    <select id="event" name="event" required>
                        <option value="">-- Нужно выбрать --</option>
                        {#{% for * in * %}#}
                        <option value="STC-2021">STC-2021</option>
                        {#{% endfor %}#}
                    </select>
                </div>

                <div class="theme">
                    <label for="theme">Тема</label>
                    <select id="theme" name="theme" required>
                        <option value="">-- Нужно выбрать --</option>
                        {#{% for * in * %}#}
                        <option value="Техника">Техника</option>
                        {#{% endfor %}#}
                    </select>
                </div>
            </div>
            <div class="button-wrap">
                <button type="submit" disabled>Загрузить таблицу</button>
            </div>
        </div>
    </form>


    <table style="visibility: {{ visibility }}{#{% if data_loaded %} visible {% else %} hidden {% endif %}#};">
        <tr>
            <th>ID</th>
            <th>Работа</th>
            <th>Проверка</th>
            <th>Кол-во проверок</th>
            <th>Проверившие члены жюри</th>
        </tr>
        {% for row in data %}
            {% if row.event == event and row.theme == theme %}
                <tr>
                    <td>{{row.id}}</td>
                    <td><a href="download/{{row.id}}" target="_blank" rel="noopener noreferrer">{{row.filename}}</a></td>
                    <td><a href="{{row.id}}" target="_blank" rel="noopener noreferrer">Оценить</a></td>
                    <td>{{row.num_of_checks}}</td>
                    <td> </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
