{% extends "index.html" %}

{% block head %}
    <title>Проверка</title>
    <link rel="stylesheet" href= "/static/css/review.css">
    <link rel="stylesheet" href= "/static/css/form-inputs.css">
    <link rel="stylesheet" href= "/static/css/data-tables.css">
    <script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
    <script>
        $(document).ready(function () {
            $('#reviewTable').tablesorter({ sortList: [[0,0]] });

            $('#jury').val("{{ jury_name }}");
            $('#event').val("{{ event_name }}");
            $('#theme').val("{{ theme_name }}");

            function checkAllSelected() {
                jury = $('#jury').val();
                event = $('#event').val();
                theme = $('#theme').val();

                if (jury != 0 && event != 0 && theme != 0) { $('button[type=submit]').prop("disabled", false); }
                else { $('button[type=submit]').prop("disabled", true); }
            }

            checkAllSelected();

            $('#jury').on('change', function() { checkAllSelected() });
            $('#event').on('change', function() { checkAllSelected() });
            $('#theme').on('change', function() { checkAllSelected() });
        });
    </script>
{% endblock %}

{% block content %}
    <form action="/review" method="post">
        <div class="select-form">
            <label for="jury">Член жюри</label>
            <select id="jury" name="jury" required>
                <option value="">-- Нужно выбрать --</option>
                <option value="Жильцов Александр Александрович">Жильцов Александр Александрович</option>
                <option value="Касаткина Елизавета Александровна">Касаткина Елизавета Александровна</option>
                <option value="Кириллова Елена Борисовна">Кириллова Елена Борисовна</option>
                <option value="Крамная Екатерина Сергеевна">Крамная Екатерина Сергеевна</option>
                <option value="Мельникова Ксения Александровна">Мельникова Ксения Александровна</option>
                <option value="Морева Надежда Александровна">Морева Надежда Александровна</option>
                <option value="Прокофьева Дарья Сергеевна">Прокофьева Дарья Сергеевна</option>
                <option value="Тюкина Людмила Александровна">Тюкина Людмила Александровна</option>
            </select>

            <div class="event-selector-container">
                <div class="event">
                    <label for="event">Мероприятие</label>
                    <select id="event" name="event" required>
                        <option value="">-- Нужно выбрать --</option>
                    {% for event in events %}
                        <option value="{{ event.name }}">{{ event.title }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="theme">
                    <label for="theme">Тема</label>
                    <select id="theme" name="theme" required>
                        <option value="">-- Нужно выбрать --</option>
                    {% for theme in themes[0]  %}
                        <option value="{{ theme }}">{{ theme }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="button-wrap">
                <button type="submit" disabled>Загрузить таблицу</button>
            </div>
        </div>
    </form>


    <table id="reviewTable" style="visibility: {{ visibility }}{#{% if data_loaded %} visible {% else %} hidden {% endif %}#};">
        <thead>
            <tr>
                <th style="width: 1px;">Проверена</th>
                <th style="width: 1px;">ID</th>
                <th style="width: 1px;" data-sorter="false">Проверка</th>
                <th data-sorter="false">Проверившие члены жюри</th>
                <th style="width: 1px;">#</th>
            </tr>
        </thead>
        <tbody>
{% for row in data %}
    {% if row.event == event and row.theme == theme %}
        {% if row.num_of_checks and jury_name in row.jury_members %}
            <tr class="reviewed">
                <td value="1" style="text-align: center;">✔️</td>
        {% else %}
            <tr>
                <td value="0" style="text-align: center;">❌</td>
        {% endif %}

        <td>{{row.id}}</td>
        <td style="text-align: center;"><a href="{{row.id}}" target="_blank">Оценить</a></td>

        {% if row.jury_members %}
            <td>{{row.jury_members}}</td>
        {% else %}
            <td>Эта работа ещё не проверена</td>
        {% endif %}

        <td>{{row.num_of_checks}}</td>
        </tr>
    {% endif %}
{% endfor %}
        </tbody>
    </table>
{% endblock %}
