{% extends "index.html" %}

{% block head %}
    <title>Оценка работы</title>
    <link rel="stylesheet" href= "/static/css/review_id.css">
    <link rel="stylesheet" href= "/static/css/center-page.css">
    <link rel="stylesheet" href= "/static/css/form-inputs.css">
    <link rel="stylesheet" href="/static/css/bars-pill.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.barrating.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#requirements_met').on('change', function() {
                if (this.checked)
                    $('#criteria').css('display', 'block');
                else
                    $('#criteria').css('display', 'none');
            });

            $('.rating').barrating({
                theme: 'bars-pill',
                initialRating: '0',
                showValues: true,
                showSelectedRating: false
            });

            $('#yt-player').height($('#yt-player').width()*9/16)
        });
    </script>
{% endblock %}

{% block content %}
    <div class="wrapper">
{% if message %}
    <div class="error notification">{{message}}</div>
{% endif %}
    <div class="center">
    {% if "video" in data.event %}
        <iframe src="https://www.youtube-nocookie.com/embed/{{data.filename}}?rel=0" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen id="yt-player"></iframe>
    {% else %}
        <a href="../review/download/{{data.id}}" target="_blank" rel="noopener noreferrer">СКАЧАТЬ РАБОТУ</a>
    {% endif %}
    </div>
    <form action="/review/{{data.id}}" method="post">
        <h3>Требования</h3>
    {% if "video" in data.event %}
        <ul>
            <li>Продолжительность ролика презентации – <b>не более 5 минут</b></li>
            <li>Участникам необходимо <b>в доступной разговорной форме</b> представить содержание исходного текста,
                его логику и существенную информацию, а также <b>предложить собственное видение проблемы</b>, привлекая
                дополнительные материалы</li>
            <li>В видеопрезентации обязательно должны быть представлены как<b> информация об участнике и тексте ИЯ</b>,
                так и <b>полная информация о дополнительных источниках</b></li>
            <li>Количество участников – <b>1 человек в кадре (ассистентов необходимо указать)</b></li>
        </ul>

        <h3>Видео не допускается к участию, если:</h3>
        <ul>
            <li>Фоновая музыка перекрывает речь участника</li>
            <li>В подкасте принимают участие другие лица, кроме заявленного участника</li>
            <li>Содержание подкаста нарушает законы РФ и\или интересы третьих лиц</li>
            <li>Низкое качество видео</li>
        </ul>
    {% else %}
        <ul>
            <li>Объем готового реферативного перевода - от 2 000 до 2 500 знаков
                (с интервалами, без библиографической записи)</li>
            <li>Библиографическая запись + текст</li>
            <li>Запрещена любая явная и неявная идентификация участника (ФИО, адрес электронной почты и т.п.
                в тексте работы или названии файла), а также схемы, рисунки и т.д.</li>
        </ul>
    {% endif %}

        <label for="requirements_met" class="checkbox-label">
            <input type="checkbox" id="requirements_met" name="requirements_met" /><span class="checkmark"></span>
            Соответствует требованиям
        </label>

        <div id="criteria" style="display: none">
        {% if "video" in data.event %}
            <label for="criteria1">Полнота изложения реферируемого материала </label>
            <select id="criteria1" name="criteria1" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <label for="criteria2">Информативность и доступность изложения </label>
            <select id="criteria2" name="criteria2" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <label for="criteria3">Качество русского языка </label>
            <select id="criteria3" name="criteria3" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <label for="criteria4">Умение работать с аудиторией </label>
            <select id="criteria4" name="criteria4" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        {% else %}
            <label for="criteria1">Заголовок</label>
            <ul>
                <li>1 балл — Перевод заголовка</li>
                <li>1 балл — Стилистика перевода</li>
            </ul>
            <select id="criteria1" name="criteria1" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>

            <label for="criteria2">Полнота изложения</label>
            <ul>
                <li>1 балл — Выделение существенной информации</li>
                <li>1 балл — Соблюдение логики источника</li>
            </ul>
            <select id="criteria2" name="criteria2" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>

            <label for="criteria3">Доступность изложения</label>
            <ul>
                <li>1 балл — Простой язык</li>
                <li>1 балл — Соответствие речевым нормам научно-технической литературы</li>
            </ul>
            <select id="criteria3" name="criteria3" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>

            <label for="criteria4">Прочие нормы</label>
            <ul>
                <li>1 балл — Корректное употребление терминов</li>
                <li>1 балл — Корректная передача имен собственных</li>
                <li>1 балл — Следование нормам орфографии и грамматики русского языка</li>
            </ul>
            <select id="criteria4" name="criteria4" class="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        {% endif %}
        </div>

        <div class="center">
            <button type="submit">Оценить</button>
        </div>
    </form>
    </div>
{% endblock %}
