{% extends "index.html" %}

{% block head %}
    <title>Отправка работы</title>
    <link rel="stylesheet" type="text/css" href="/static/css/submit.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/center-page.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/form-inputs.css"/>
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#event").val("{{ event_name }}");

            function checkAllSelected() {
                event = $('#event').val();
                theme = $('#theme').val();
                full_name = $('#full_name').val();
                file = $('#file')[0].files.length;

                if (event != 0 && theme != 0 && full_name != "" && file != 0) {
                    $('button[type=submit]').prop("disabled", false);
                } else { $('button[type=submit]').prop("disabled", true); }
            }

            checkAllSelected();

            $('#event').on('change', function() { checkAllSelected() });
            $('#theme').on('change', function() { checkAllSelected() });
            $('#full_name').on('change', function() { checkAllSelected() });
            $('#file').on('change', function() { checkAllSelected() });
        });
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="/submit" enctype="multipart/form-data">
    <div class="error notification">
        ВНИМАНИЕ!<br/><br/>
        На каждую номинацию в мероприятии можно отправить лишь один файл.<br/>
        Внимательно проверяйте данные перед отправкой.
    </div>

    <div class="submit-form">
    <div class="event">
        <label for="event">Мероприятие</label>
        <select id="event" name="event" required>
            <option value="">-- Нужно выбрать --</option>
            {% for event in events %}
                <option value="{{ event.name }}">{{ event.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="theme">
        <label for="theme">Номинация</label>
        <select id="theme" name="theme" required>
            <option value="">-- Нужно выбрать --</option>
            {% for theme in themes[0]  %}
                <option value="{{ theme }}">{{ theme }}</option>
            {% endfor %}
        </select>
    </div>

    <label for="full_name">Полностью ФИО вашего руководителя</label>
    <input type="text" id="full_name" name="full_name" placeholder="Иванов Иван Иванович" required />

    <div class="file-submit">
        <input type="file" id="file" name="file">
        <button type="submit" disabled>Отправить</button>
    </div>

    <div class="error notification">{{message}}</div>
    </div>
    </form>
{% endblock %}
