{% extends "index.html" %}

{% block head %}
    <title>Отправка работы</title>
    <link rel="stylesheet" type="text/css" href="/static/css/submit.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/center-page.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/form-inputs.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#event").val("{{ event_name }}");

            function checkAllSelected() {
                event = $('#event').val();
                theme = $('#theme').val();
                scientific_director = $('#scientific_director').val();
                file = $('#file')[0].files.length;

                if (event != 0 && theme != 0 && scientific_director != "" && file != 0) {
                    $('button[type=submit]').prop("disabled", false);
                } else { $('button[type=submit]').prop("disabled", true); }
            }

            checkAllSelected();

            $('#event').on('change', function() { checkAllSelected() });
            $('#theme').on('change', function() { checkAllSelected() });
            $('#scientific_director').on('change', function() { checkAllSelected() });
            $('#file').on('change', function() { checkAllSelected() });
        });
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="/submit" enctype="multipart/form-data">
    <div class="error notification">
        ВНИМАНИЕ!<br/><br/>
        На каждую номинацию в мероприятии можно отправить лишь один файл.<br/>
        Внимательно проверяйте данные перед отправкой.
    </div>

    <div class="submit-form">
    <div class="event">
        <label for="event">Мероприятие</label>
        <select id="event" name="event" disabled>
            <option value="">-- Нужно выбрать --</option>
            {% for event in events %}
                <option value="{{ event.name }}">{{ event.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="theme">
        <label for="theme">Номинация</label>
        <select id="theme" name="theme" required>
            <option value="">-- Нужно выбрать --</option>
            {% for theme in themes[0] %}
                <option value="{{ theme }}">{{ theme }}</option>
            {% endfor %}
        </select>
    </div>

    <label for="scientific_director">Полное ФИО вашего руководителя</label>
    <input type="text" id="scientific_director" name="scientific_director" placeholder="Иванов Иван Иванович" required />

    <div class="file-submit">
        {% if "video" in event_name %}
            <label for="link">YouTube-ссылка</label>
            <input type="text" id="link" name="link" placeholder="https://www.youtube.com" required />
        {% else %}
            <input type="file" id="file" name="file">
        {% endif %}
        <button type="submit" disabled>Отправить</button>
    </div>

    <div class="error notification">{{message}}</div>
    </div>
    </form>
{% endblock %}
