{% extends "index.html" %}

{% block head %}
    <title>STC 2022</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <h2 class="event-name">IV Всероссийский студенческий конкурс реферативного перевода с международным участием</h2>

    <div class="infobox">
        <h3>Полезные ссылки</h3>
        <div class="useful-links">
            <a href="https://docs.google.com/document/d/1mZx954yRuypiaSTaUcsgsqN8VTQajS5R/edit"
               target="_blank" rel="noopener noreferrer">Информационное письмо</a>
            <a href="https://docs.google.com/document/d/1Z9Cvk7oDb1xYEwHvhPtCGCvKbfnUB3qV/edit"
               target="_blank" rel="noopener noreferrer">Положение о проведении</a>
            <a href="https://drive.google.com/drive/folders/1jq5aF4BKJlG-0xNjXotOOfOUeuebT8tF"
               target="_blank" rel="noopener noreferrer">Статьи для перевода по номинациям</a>
            <a href="https://drive.google.com/drive/folders/1-6MkAdUbF2Ji187pRjUcGLU0K49O54V6"
               target="_blank" rel="noopener noreferrer">Методические рекомендации</a>
            <a href="https://docs.google.com/document/d/1JFrpwLh2Cb9CvD2lPOnUGS20X8-N_Ykv/edit"
               target="_blank" rel="noopener noreferrer">Чек-лист</a>
            {% if rights['admin'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>
            {% elif rights['jury'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта члена жюри.</div>
            {% elif rights['login'] %}
                <form method="post" action="/events/stc-2022">
                    <button type="submit">Принять участие</button>
                </form>
            {% else %}
                <div class="participation-error"><a href="/login">Войдите в аккаунт</a>, чтобы принять участие.</div>
            {% endif %}
        </div>

        <p>Кафедра иностранных языков ФГБОУ ВО <b>Ярославского государственного технического университета</b> (ЯГТУ),
            г. Ярославль, Россия, приглашает студентов вузов принять участие в конкурсе реферативного перевода и
            конкурсе видеопрезентаций «Научный стенд-ап».</p>

        <h3>Что?</h3>
        <p>Составить реферативный перевод научно-популярной статьи.</p>
        <p><b>Идея конкурса</b> — взглянуть по-новому на реферативный перевод и показать возможности
            классических и инновационных подходов к такой обработке зарубежных текстов.</p>
        <p>Мероприятие проводится онлайн в двух форматах: конкурс <b>письменного реферативного перевода</b>
            и конкурс <b>видеопрезентаций</b> «Научный стенд-ап».</p>
        <p>У каждого участника есть возможность принять участие как в письменном конкурсе, так и в конкурсе
            видеопрезентаций. <b>Заявки принимаются на каждый конкурс и для каждой номинации отдельно. В каждой
            номинации принимается только одна работа. Количество участий в разных номинациях не ограничено.</b></p>

        <h3>Зачем?</h3>
        <p>Редко кто связывает «реферат» и «перевод». Первое — это что-то из школьных или университетских заданий,
            когда скучный преподаватель от вас требует отписку, а вы накидываете абзацы из интернета по
            теме. Второе ассоциируется с онлайн-переводчиками, мучительным поиском соответствий в словарях и чем-то
            большим, страшным, скучным (?) типа дословного перевода книг и научных статей и документов.</p>
        <p><b>Реферативный перевод</b> — это не дословный перевод, а понятный краткий пересказ на родном языке
            какого-то объемного и иногда сложного материала на иностранном языке. Реферативный перевод рассказывает
            только о самом важном, чтобы читатель смог принять решение, нужно ли ему тратить время и силы на работу
            с полным текстом.</p>

        <h3>Тематика статей</h3>
        <ul>
            <li>Техника</li>
            <li>Химия</li>
            <li>IT</li>
            <li>Естествознание</li>
            <li>Экономика</li>
            <li>Обществознание</li>
            <li>Экология</li>
            <li>Архитектура</li>
            <li>Образование</li>
            <li>Филология</li>
        </ul>

        <h3>Основные требования</h3>
        <ul>
            <li>Объем готового реферативного перевода - <b>от 2 000 до 2 500 знаков</b>
                (с интервалами, без библиографической записи)</li>
            <li>Библиографическая запись + текст</li>
            <li>Запрещена любая явная и неявная идентификация участника (ФИО, адрес электронной почты и т.п.
                в тексте работы или названии файла), а также схемы, рисунки и т.д. Рекомендуемое название файла
                с конкурсной работой: <i>Номинация.docx</i></li>
            <li>Подробно требования к конкурсным работам и критерии оценки изложены в Положении о Конкурсе</li>
            <li>Перед тем как приступить к работе ознакомьтесь с Методическими рекомендациями</li>
            <li>Перед тем как отправить выполненную работу проверьте ее с помощью Чек-листа</li>
        </ul>

        <h3>Критерии оценивания</h3>
        <ul>
            <li>Заголовок</li>
            <li>Полнота изложения</li>
            <li>Доступность изложения</li>
            <li>Прочие нормы</li>
        </ul>

        <h3>Основные этапы и сроки</h3>
        <ul>
            <li><b>14 ноября 2022 года</b>: Крайний срок отправки работ по форме регистрации.
                Заявки принимаются на каждый конкурс отдельно.</li>
            <li><b>12 декабря 2022 года</b>: Подведение итогов и награждение победителей!</li>
        </ul>

        <h3>Остались вопросы?</h3>
        <p>Пишите на почту <a href="mailto:inyaz.731@gmail.com" target="_blank"
                              rel="noopener noreferrer" class="contact-value">inyaz.731@gmail.com</a><br/>
            Звоните и оставляйте сообщения +7 (910) 978-36-37 (также Viber, WhatsApp)<br/>
            Контактное лицо – <b>Крамная Екатерина Сергеевна</b></p>
    </div>
{% endblock %}
