{% extends "index.html" %}

{% block head %}
    <title>Информация</title>
    <link rel="stylesheet" href= "/static/css/event.css">
{% endblock %}

{% block content %}
    <h2>Конкурс реферативного перевода</h2>

    <div class="infobox">
        <h3>Полезные ссылки</h3>
        <div class="useful-links">
            <a href="https://docs.google.com/document/d/1mZx954yRuypiaSTaUcsgsqN8VTQajS5R/edit"
               target="_blank" rel="noopener noreferrer">Информационное письмо</a>
            <a href="https://docs.google.com/document/d/1Z9Cvk7oDb1xYEwHvhPtCGCvKbfnUB3qV/edit"
               target="_blank" rel="noopener noreferrer">Положение о проведении</a>
            <a href="https://drive.google.com/drive/folders/1-6MkAdUbF2Ji187pRjUcGLU0K49O54V6"
               target="_blank" rel="noopener noreferrer">Статьи для перевода</a>
            <a href="https://docs.google.com/document/d/1JFrpwLh2Cb9CvD2lPOnUGS20X8-N_Ykv/edit"
               target="_blank" rel="noopener noreferrer">Чек-лист</a>
            {% if rights['admin'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>
            {% elif rights['jury'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта члена жюри.</div>
            {% elif rights['login'] %}
                <form method="post" action="/events/stc-2021">
                    <button type="submit">Принять участие</button>
                </form>
            {% else %}
                <div class="participation-error"><a href="/login">Войдите в аккаунт</a>, чтобы принять участие.</div>
            {% endif %}
        </div>

        <h3>Что?</h3>
        <p>Составить реферативный перевод научно-популярной статьи.</p>
        <p><b>Идея конкурса</b> — взглянуть по-новому на реферативный перевод и показать возможности
            классических и инновационных подходов к такой обработке зарубежных текстов.</p>
        <p>Мероприятие проводится онлайн в двух форматах: конкурс <b>письменного реферативного перевода</b>
            и конкурс <b>видеопрезентаций</b> «Научный стенд-ап».</p>
        <p>У каждого участника есть возможность принять участие как в письменном конкурсе, так и в
            конкурсе видеопрезентаций. <b>Заявки принимаются на каждый конкурс отдельно.</b></p>

        <h3>Зачем?</h3>
        <p>Редко кто связывает «реферат» и «перевод». Первое — это что-то из школы или с первых курсов,
            когда скучный преподаватель от вас требует отписку, а вы накидываете абзацы из интернета по
            теме. Второе ассоциируется с онлайн-переводчиками, «о, ну это сериалы переводят» или чем-то
            большим, страшным, скучным (?) типа дословного перевода книг и научных статей.</p>
        <p><b>Реферативный перевод</b> — это не дословный перевод, а понятный пересказ чего-то сложного с
            иностранного на родной язык. Реферативный перевод даёт только основную информацию, но во
            всех красках. Читать меньше, переводить меньше — WIN-WIN! Мы хотим, чтобы люди чаще
            рассказывали другим то, что они узнали в зарубежных источниках, и делали это интересно.</p>

        <h3>Тематика статей </h3>
        <ul>
            <li>Техника</li>
            <li>Химия</li>
            <li>IT</li>
            <li>Естествознание</li>
            <li>Экономика</li>
            <li>Обществознание</li>
            <li>Филология (для студентов языковых специальностей)</li>
        </ul>

        <p><b>Объем статей — не менее 10000 знаков.</b></p>

        <h3>Основные требования</h3>
        <ul>
            <li>Максимум 2 500 знаков (с интервалами)</li>
            <li>Библиографическая запись + текст</li>
            <li>Запрещена любая явная и неявная идентификация участника, а также схемы, рисунки и т.д.</li>
        </ul>

        <p>Полные требования и критерии оценивания смотрите в презентации.</p>

        <h3>Основные этапы и сроки</h3>
        <ul>
            <li><b>1 ноября</b>: Крайний срок отправки работ по форме регистрации.
                Заявки принимаются на каждый конкурс отдельно.</li>
            <li><b>22 ноября</b>: Подведение итогов и награждение победителей!</li>
        </ul>
    </div>
{% endblock %}
