{% extends "index.html" %}

{% block head %}
    <title>Информация</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <h2>Конкурс реферативного перевода</h2>

    <div class="infobox">
        <a href="https://docs.google.com/document/d/1mZx954yRuypiaSTaUcsgsqN8VTQajS5R/edit">Информационное письмо</a>
        <a href="https://docs.google.com/document/d/1Z9Cvk7oDb1xYEwHvhPtCGCvKbfnUB3qV/edit">Положение о проведении</a>
        <a href="https://drive.google.com/drive/folders/1-6MkAdUbF2Ji187pRjUcGLU0K49O54V6">Статьи для перевода</a>
        <a href="https://docs.google.com/document/d/1JFrpwLh2Cb9CvD2lPOnUGS20X8-N_Ykv/edit">Чек-лист</a>
        <a href="/submit">Форма отправки</a>

        <p>Что?</p>
        <p>Составить реферативный перевод научно-популярной статьи</p>
        <p>Идея конкурса — взглянуть по-новому на реферативный перевод и показать возможности классических и инновационных подходов к такой обработке зарубежных текстов.</p>

        <br>
        <p>Зачем?</p>
        <p>Редко кто связывает «реферат» и «перевод». Первое — это что-то из школы или с первых курсов, когда скучный преподаватель от вас требует отписку, а вы накидываете абзацы из интернета по теме. Второе ассоциируется с онлайн-переводчиками, «о, ну это сериалы переводят» или чем-то большим, страшным, скучным (?) типа дословного перевода книг и научных статей.</p>
        <p>Реферативный перевод — это не дословный перевод, а понятный пересказ чего-то сложного с иностранного на родной язык. Реферативный перевод даёт только основную информацию, но во всех красках. Читать меньше, переводить меньше — WIN-WIN! Мы хотим, чтобы люди чаще рассказывали другим то, что они узнали в зарубежных источниках, и делали это интересно.</p>

        <br>
        <p>Тематика статей
            <ul>
                <li>Техника</li>
                <li>Химия</li>
                <li>IT</li>
                <li>Естествознание</li>
                <li>Экономика</li>
                <li>Обществознание</li>
                <li>Филология (для студентов языковых специальностей)</li>
            </ul>
        </p>

        <p>Объем статей — не менее 10000 знаков.</p>

        <br>
        <p>Основные требования
            <ul>
                <li>Максимум 2 500 знаков (с интервалами)</li>
                <li>Библиографическая запись + текст</li>
                <li>Запрещена любая явная и неявная идентификация участника, а также схемы, рисунки и т.д.</li>

            </ul>
        </p>

        <p>Полные требования и критерии оценивания смотрите в презентации.</p>

        <br>
        <p>Основные этапы и сроки</p>
        <p>15 ноября: Крайний срок отправки работ по форме регистрации. Заявки принимаются на каждый конкурс отдельно.</p>
        <p>1 декабря: Подведение итогов и награждение победителей!</p>
    </div>
{% endblock %}
