{% extends "index.html" %}

{% block head %}
    <title>STC 2022 Видео</title>
    <link rel="stylesheet" href= "/static/css/info.css">
{% endblock %}

{% block content %}
    <h2 class="event-name">IV Всероссийский студенческий конкурс
        видеопрезентаций «Научный стенд-ап» с международным участием</h2>

    <div class="infobox">
        <p>Кафедра иностранных языков ФГБОУ ВО <a href="https://www.ystu.ru" target="_blank" title="Сайт ЯГТУ">
            <b>Ярославского государственного технического университета</b></a> (ЯГТУ), г. Ярославль, Россия,
            приглашает студентов вузов принять участие в конкурсе реферативного перевода и конкурсе видеопрезентаций
            «Научный стенд-ап».</p>

        <h3>Полезные ссылки</h3>
        <div class="useful-links">
            <a href="https://docs.google.com/document/d/1zBR6j6AFfLSYFk3IoO8Q6NJ-Nnffdp-B/edit" target="_blank">
                Информационное письмо</a>
            <a href="https://docs.google.com/document/d/19efntSrQWlPDhROhz5HISzB5prXGrG9b/edit" target="_blank">
                Положение о проведении</a>
            <a href="https://drive.google.com/drive/folders/1jq5aF4BKJlG-0xNjXotOOfOUeuebT8tF" target="_blank">
                Статьи для перевода по номинациям</a>
            <a href="https://docs.google.com/presentation/d/12DHnSfdO-hodld6n8DO8sSrqAwOXXHza/edit" target="_blank">
                Методические рекомендации</a>
            <a href="https://docs.google.com/document/d/1xSmn5i2unZ-Ms30VO55176Ayt3zuatyWqXjfGXjHt3U/edit" target="_blank">
                Загрузка видео на YouTube</a>
        {% if not event_ended %}
            {% if rights['admin'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта администратора.</div>
            {% elif rights['jury'] %}
                <div class="participation-error">Невозможно участвовать с аккаунта члена жюри.</div>
            {% elif rights['login'] %}
                <form method="post" action="/events/stc-2022-video">
                    <button type="submit">Принять участие</button>
                </form>
            {% else %}
                <div class="participation-error"><a href="/login">Войдите в аккаунт</a>, чтобы принять участие.</div>
            {% endif %}
        {% else %}
            <a href="https://ystu-my.sharepoint.com/:w:/g/personal/kramnayaes_edu_ystu_ru/EVhY01tuHoJJlcowvdoqifMB-tOXrB4OQrKvhSNpbKeZOA" target="_blank" class="results">Посмотреть результаты</a>
        {% endif %}
        </div>

        <p><b>Идея конкурса</b> — взглянуть по-новому на реферативный перевод и показать возможности
            классических и инновационных подходов к такой обработке зарубежных текстов.</p>
        <p>Мероприятие проводится онлайн в двух форматах: конкурс <b>письменного реферативного перевода</b>
            и конкурс <b>видеопрезентаций</b> «Научный стенд-ап».</p>
        <p>У каждого участника есть возможность принять участие как в письменном конкурсе, так и в конкурсе
            видеопрезентаций. <b>Заявки принимаются на каждый конкурс и для каждой номинации отдельно. В каждой
            номинации принимается только одна работа. Количество участий в разных номинациях не ограничено.</b></p>

        <h3>В чем заключается конкурс видеопрезентаций?</h3>
        <p><b>Видеопрезентация</b> — это презентация, которую можно просмотреть как видео в формате MP4 или MOV. Такая
            презентация может быть любого формата: частично или полностью анимированный видеоролик, скринкаст
            (запись с экрана), «говорящая голова». Можно сочетать эти форматы или использовать какой-то из основных.</p>
        <p><b>Реферативный перевод</b> — это не дословный перевод, а понятный краткий пересказ на родном языке
            какого-то объемного и иногда сложного материала на иностранном языке. Реферативный перевод рассказывает
            только о самом важном, чтобы читатель смог принять решение, нужно ли ему тратить время и силы на работу
            с полным текстом.</p>

        <h3>Тематика статей</h3>
        <ul>
            <li>Техника</li>
            <li>Химия</li>
            <li>IT</li>
            <li>Естествознание</li>
            <li>Экономика</li>
            <li>Обществознание</li>
            <li>Экология</li>
            <li>Архитектура</li>
            <li>Образование</li>
            <li>Филология</li>
        </ul>

        <h3>Основные требования</h3>
        <ul>
            <li>Продолжительность ролика презентации – <b>не более 5 минут</b></li>
            <li>Участникам необходимо <b>в доступной разговорной форме</b> представить содержание исходного текста,
                его логику и существенную информацию, а также <b>предложить собственное видение проблемы</b>, привлекая
                дополнительные материалы</li>
            <li>В видеопрезентации обязательно должны быть представлены как<b> информация об участнике и тексте ИЯ</b>,
                так и <b>полная информация о дополнительных источниках</b></li>
            <li>Количество участников – <b>1 человек в кадре</b> (ассистентов необходимо указать)</li>
        </ul>

        <h3>Видео не допускается к участию, если</h3>
        <ul>
            <li>Фоновая музыка перекрывает речь участника</li>
            <li>В подкасте принимают участие другие лица, кроме заявленного участника</li>
            <li>Содержание подкаста нарушает законы РФ и/или интересы третьих лиц</li>
            <li>Низкое качество видео</li>
        </ul>

        <h3>Критерии оценивания</h3>
        <ul>
            <li>Полнота изложения реферируемого материала</li>
            <li>Информативность и доступность изложения</li>
            <li>Качество русского языка</li>
            <li>Умение работать с аудиторией</li>
        </ul>

        <h3>Как принять участие в конкурсе видеопрезентаций «Научный стенд-ап»</h3>
        <ol>
            <li>Выберите номинацию и внимательно прочитайте текст. Выделите наиболее существенную информацию.</li>
            <li>Продумайте свое выступление. При необходимости – добавьте свои комментарии /
                альтернативные точки зрения / другую информацию.</li>
            <li>Снимите видеоролик (не более 5 минут)</li>
            <li>Загрузите видео на Youtube и вставьте ссылку на видео в форму регистрации конкурсной работы.
                (<a href="https://docs.google.com/document/d/1xSmn5i2unZ-Ms30VO55176Ayt3zuatyWqXjfGXjHt3U/edit" target="_blank">Инструкция</a>)</li>
            <li>Дождитесь результатов. Удачи!</li>
        </ol>

        <h3>Основные этапы и сроки</h3>
        <ul>
            <li><b>15 ноября 2022 года</b>: Старт конкурса.</li>
            <li><b>11 декабря 2022 года</b>: Последний день отправки работ.
                Заявки принимаются на каждый конкурс отдельно.</li>
            <li><b>16 декабря 2022 года</b>: Подведение итогов и награждение победителей!</li>
        </ul>

        <h3>Остались вопросы?</h3>
        <p>Пишите на почту <a href="mailto:inyaz.731@gmail.com" target="_blank" class="contact-value">
            inyaz.731@gmail.com</a><br/>
            Звоните и оставляйте сообщения +7 (910) 978-36-37 (также Viber, WhatsApp)<br/>
            Контактное лицо – <b>Крамная Екатерина Сергеевна</b></p>
    </div>
{% endblock %}
